#ussr-map path {
  display: inline;
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0.265;
  stroke-opacity: 1;
  transition: 0.3s;
}

#ussr-map path.tint {
  filter: brightness(80%);
  stroke-width: 0.5;
}

#ussr-map path.in {
  filter: brightness(75%);
}

#ussr-map {
  position: absolute;
  left: 0px;
  top: 0px;
}

#bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

body > main {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}
